<div class="container">
  <div class="title">
    <h3>商品一覧</h3>
    <%= link_to "＋", new_admin_item_path, class:"btn btn-light rounded-circle p-1 shadow mt-4", style:"width:2rem;height:2rem;" %>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">

      <table class="col-lg-12 mx-auto">
        <thead class="border-bottom border-top">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <div class="item-link">
                <%= link_to item.name, admin_item_path(item.id), class:"text-dark" %>
              </div>
            </td>
            <td><%= item.price %></td>
            <td>
              <% if item.is_active? %>
                <div class="text-success font-weight-bold">販売中</div>
              <% else %>
                <div class="text-secondary">販売停止中</div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="page">
        <%= paginate @items%>
      </div>
    </div>
  </div>
</div>