<div class="container">
   <%= flash[:notice] %>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">


      <div class="back-image">
        <div class="introduction card mb-5 mt-5">
          <%= image_tag "co.jpeg", class: "card-img" %>
          <div class="card-img-overlay mx-auto">
            <p>
              <br>
              ようこそ、ながのCAKEへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
      </div>

      <h3 class="font-weight-bold">新着商品</h3>
      <div class="d-flex">
        <% @items.each do |item| %>
      <div class="new-items mr-3">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(200,300) %><br>
        <% end %>
          <%= item.name %><br>
          ¥<%= item.price %>
      </div>
        <% end %>
      </div>
      <div class="more">
        <%= link_to "全ての商品を見る>", @items_path %>
      </div>
    </div>
  </div>
</div>