<div class="container">
  <div class="title">
    <h3>配送先編集</h3>
  </div>
  <%= form_with model: @address,url: address_path do |f| %>
  <div>
    <%= f.label :postal_code, "郵便番号（ハイフンなし）", class:"address_new" %>
    <%= f.text_field :postal_code, placeholder: "0000000" %>
  </div>
  <div>
    <%= f.label :address, "住所", class:"address_new" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:"address-field" %>
  </div>
  <div class="d-flex mb-5">
    <%= f.label :name, "名前", class:"address_new" %>
    <%= f.text_field :name, placeholder: "令和道子", class:"address_name" %>
    <%= f.submit "変更内容を保存", class:"btn btn-success address_new_btn" %>
  </div>
  <% end %>
</div>